- id = 1
%div{id: "order_object_container_#{id}", class: 'container-fluid order_object_container order_row'}
  .row
    .col-md-2
      %select.order_object_selector.form-control.input-sm{data: {object_index: id}, name: 'order_object_selector'}
        %option{value: ''}
          Не выбрано
        - @objects.each do |object|
          %option{value: object_value(object)}
            = object_name(object)

    .col-md-2.action_link
      %a.add_order_object{href: '#', style: 'display: none', title: 'Добавить персонаж/программу'}
        %span.glyphicon.glyphicon-plus
      %a.remove_order_object{href: '#', style: 'display: none', title: 'Исключить персонаж/программу'}
        %span.glyphicon.glyphicon-trash