= link_to('Отправить повторно', repeat_sent_admin_invitation_path(record))
%br
= link_to('Назначить', sent_to_all_admin_invitation_path(record))
%br
= link_to('Снять заказ', dismiss_admin_invitation_path(record))
%br
= link_to('Изменить', edit_admin_invitation_path(record))