form input[type=text] {
  font-size: 12pt;
}

form textarea {
  font-size: 12pt;
}

form input[type=number] {
  font-size: 12pt;
}

form input[type=tel] {
  font-size: 12pt;
}

form input[type=email] {
  font-size: 12pt;
}