@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootstrap-datetimepicker.min";

#header {
  font-size: 11.5212px;
}

.action_link {
  text-align: right;
}

.action_link a:link {
  text-decoration: none;
  padding-right: 10px;
}

.action_link a:hover {
  color: #0B8CC0;
}

.action_link a{
  color: #0B8CC0;
}

.action_link .add_order_object{
  font-size: 16pt;
}

.action_link .remove_order_object{
  font-size: 16pt;
  color: rgb(246, 123, 123);
}

.order_row {
  padding-bottom: 10px;
}

.header_row {
  padding-bottom: 5px;
}

.input_header {
  font-weight: bold;
  font-size: 12pt;
}

.breadcrumb {
  padding: 0px;
  margin-bottom: 12px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
}

form input[type=text] {
  width: 100%;
}

.submit_actions {
  padding-top: 15px;
  text-align: right;
  border: 0px solid #E6E6E6;
  border-top-width: 1px;
  margin-top: 15px;
}

.order_object_container {
  //border: 0px solid #E6E6E6;
  //border-bottom-width: 1px;
  padding-top: 10px;
}

.order_object {
  padding-top: 10px;
  padding-bottom: 5px;
}

.order_object.top_divider {
  //border: 0px solid #E6E6E6;
  //border-top-width: 1px;
}

.order_object .header {
  font-size: 14pt;
  color: green;
  font-weight: bold;
}

.row.separator {
  border: 0px solid rgba(35, 105, 116, 0.15);
  border-bottom-width: 2px;
  padding-top: 10px;
  margin-bottom: 15px;
}

span.actor_name {
  padding-left: 10px;
}

span.actor_name.disabled {
  color: grey;
}

span.actor_name.occupied {
  color: red;
}

span.actor_name.almost_occupied {
  color: #ff8100;
}

.partner_percents_radio.selected {
  background-color: #b0d8ff;
}

.partner_amount_radio.selected {
  background-color: #b0d8ff;
}

.error_message {
  font-size: 13px;
  color: red;
  font-style: italic;
  text-align: center;
}

.actors_error {
  text-align: left;
}

.with_error {
  border-color: red;
}

form input[type=text].with_error {
  border-color: red;
}

// actor name block with span inside
.actor_name {
  text-align: left;
  line-height: 30px;
  width: 200px;
}

.actor_name.occupied span {
  color: orange;
}

.actor_name.invited span {
  color: #084a0e;
}

.actor_name.blocked span {
  color: #b6b5b5;
}

//---------------------------------------

.actor_corrector {
  margin-right: 20px;
  border: 0px solid #f0effa;
  border-right-width: 1px;
}

// actor corrector input
.actor_corrector input {
  border-color: #c8e3ff;
  text-align: center;
}

.actor_corrector.occupied input {
  border-color: orange;
  text-align: center;
}

.actor_corrector.blocked input {
  border-color: #d9d9d9;
  text-align: center;
}

//----------------------------------------
.glyphicon-th-list {
  color: #399cb8;
  cursor: pointer;
}
